* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  position: relative;
}
.float-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  background-color: darkgray;
  padding: 1rem 1.5rem;
}
.display-4 {
  font-size: 40px;
}
